
<agm-map
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
 [disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
<h1>{{ showlat }}</h1>
<h1>{{ showlng }}</h1>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
    Message:
    <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
    </div>
  </label>

  <input type="submit" value="Send message" class="cta">

</form>

<div *ngIf="submitted" class="results">
  <strong>Name:</strong> 
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Message:</strong> 
  <span>{{ messageForm.controls.message.value }}</span>
</div>


