
<agm-map
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
 [disableDefaultUI]="false"
[zoomControl]="true"
(mapClick)="mapClicked($event)">
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
<h1>Location: <br> {{ loc }} <br></h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    EventName:
    <input type="text" formControlName="EventName">
    <div *ngIf="submitted && messageForm.controls.EventName.errors" class="error">
      <div *ngIf="messageForm.controls.EventName.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
    <br>Information:
    <textarea formControlName="Information"></textarea>
    <div *ngIf="submitted && messageForm.controls.Information.errors" class="error">
      <div *ngIf="messageForm.controls.Information.errors.required">An information is required</div>
    </div>
  </label>

  <label>
    <br>participant:
    <input type="number" formControlName="participant">
    <div *ngIf="submitted && messageForm.controls.participant.errors" class="error">
      <div *ngIf="messageForm.controls.participant.errors.required">A number of participant is required</div>
      <div *ngIf="messageForm.controls.participant.errors.min">A number of participant cannot be 0 or less</div>

    </div>
  </label>

  <label>
    <br>Date:
    <input type="datetime-local" formControlName="date">
    <div *ngIf="submitted && messageForm.controls.date.errors" class="error">
      <div *ngIf="messageForm.controls.date.errors.required">Date is required</div>
    </div>
  </label>
  
  <label>Category
      <input type="text" placeholder="Pick one" aria-label="category" matInput [matAutocomplete]="auto" formControlName="category">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="submitted && messageForm.controls.category.errors" class="error">
        <div *ngIf="messageForm.controls.category.errors.required">category is required</div>
      </div>
    </label>
  


  <input type="submit" value="SubmitEvent" class="cta">

</form>
<div *ngIf="submitted" class="results">
  <strong>EventName:</strong> 
  <span>{{ messageForm.controls.EventName.value }}</span>
  <strong>Information:</strong> 
  <span>{{ messageForm.controls.Information.value }}</span>
</div>


