<header>
  <div class="container">
    <a routerLink="/" class ="logo">KMITLQUEST</a>
    <nav>
      <ul>
        <li><a routerLink="/"><i class="material-icons">
            home
            </i></a></li>
        <li><a routerLink="/about"><i class="material-icons">
            info
            </i></a></li>
        <li><a routerLink="/createact"><i class="material-icons">
            contact_support
            </i>
            </a></li>
        <li><a routerLink="/userpage"><i class="material-icons">
more_vert
</i>
          </a></li>
            
      </ul>
    </nav>
  </div>
</header>