<H1>USER EVENT</H1>
<h1>{{ title }}</h1>


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
[latitude]="13.7283785"
[longitude]="100.77517"
[zoom]="zoom"
 [disableDefaultUI]="false"
[zoomControl]="false"
>
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label">
    <agm-info-window>
      <strong>{{ m.label }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
<!--<div *ngIf="event"  id ="eventlist">
<li **ngFor="let event of events">
  
</li>
</div>-->
<div id="information">
<p><strong>Activity Name: </strong>{{ title }}</p>
<p><strong>Information: </strong>{{ info }}</p>
<p><strong>Number of participant: </strong>{{ parti }}</p>
<p><strong>Category: </strong>{{ category }}</p>
<p><strong>Date : </strong>{{ date }}</p>
<button mat-button (click)="cancel()">Cancel Event</button>
<button mat-button (click)="edit()">Edit Event</button>
</div>
<div id ="editstuffs" *ngIf = "setedit">

  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>
  
    <label>
      ActivityName:
      <input type="text" formControlName="EventName" value = {{title}}>
      <div *ngIf="submitted && messageForm.controls.EventName.errors" class="error">
        <div *ngIf="messageForm.controls.EventName.errors.required">Activity Name is required</div>
      </div>
    </label>
  
    <label>
      <br>Information:
      <textarea formControlName="Information" value = {{info}}></textarea>
      <div *ngIf="submitted && messageForm.controls.Information.errors" class="error">
        <div *ngIf="messageForm.controls.Information.errors.required">An information is required</div>
      </div>
    </label>
  
    <label>
      <br>participant:
      <input type="number" formControlName="participant" value = {{parti}}>
      <div *ngIf="submitted && messageForm.controls.participant.errors" class="error">
        <div *ngIf="messageForm.controls.participant.errors.required">A number of participant is required</div>
      </div>
    </label>
  
    <label>
      <br>Date:
      <input type="datetime-local" formControlName="date" value = {{date}}>
      <div *ngIf="submitted && messageForm.controls.date.errors" class="error">
        <div *ngIf="messageForm.controls.date.errors.required">Date is required</div>
      </div>
    </label>
    
    <label>Category
        <input type="text" placeholder="Pick one" aria-label="category" matInput [matAutocomplete]="auto" formControlName="category">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="submitted && messageForm.controls.category.errors" class="error">
          <div *ngIf="messageForm.controls.category.errors.required">category is required</div>
        </div>
      </label>
    
  
  
    <input type="submit" value="SubmitEvent" class="cta">
  
  </form>
  
  
</div>
