<div class="main">
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" ></div>

<button class ="button"(click)="checkSignin()" [disabled] = "auth2">confirmlogin</button>
<div id="status"></div>

<div class="container">


  <input type="radio" id="i1" name="images" checked />
  <input type="radio" id="i2" name="images" />
  <input type="radio" id="i3" name="images" />
  <input type="radio" id="i4" name="images" />

  <div class="slide_img" id="one">

    <img src="https://image.dek-d.com/27/0537/1197/123282415">

    <label class="prev" for="i4"><span></span></label>
    <label class="next" for="i2"><span></span></label>

  </div>

  <div class="slide_img" id="two">

    <img src="https://image.dek-d.com/27/0537/1197/121700702 ">

    <label class="prev" for="i1"><span></span></label>
    <label class="next" for="i3"><span></span></label>

  </div>

  <div class="slide_img" id="three">
    <img src="https://image.dek-d.com/27/0537/1197/123282455">

    <label class="prev" for="i2"><span></span></label>
    <label class="next" for="i4"><span></span></label>
  </div>


  <div class="slide_img" id="four">
    <img src="https://image.dek-d.com/27/0537/1197/123282368">

    <label class="prev" for="i3"><span></span></label>
    <label class="next" for="i1"><span></span></label>

  </div>

  <div id="nav_slide">
    <label for="i1" class="dots" id="dot1"></label>
    <label for="i2" class="dots" id="dot2"></label>
    <label for="i3" class="dots" id="dot3"></label>
    <label for="i4" class="dots" id="dot4"></label>
  </div>

</div>

</div>
