.button {
    background-color:  rgb(255, 163, 77);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    &:hover {
        background: rgb(192, 109, 0)
    }
}
